body{
     color: green;
  }

h1, h2, .class1{
  color: red;

}

/*
for ids, we will add '#' in front of it, and for classes, we will add '.' in front of it in our css files
*/
.practise{
  color: orange;
}

#id{
  color:blue;
}
