
/*
for ids, we will add '#' in front of it, and for classes, we will add '.' in front of it in our css files
*/

/*
font weight 400 is normal, 700 is bold
*/

header, footer{
  background: #2B2D42;
  color: #8D99AE;
}

header h1, header h2, footer h1, footer h2{
  color: #EDF2F4;
}

h1{
  font-size: 40PX;
  font-weight: 700;
}

body{
  font-family: 'DM Serif Text', serif;
}

.work{
  background: #EDF2F4;
  color: orange;
}

.education{
  background: #8D99AE;   
  color:blue;
}

a {
  color: #EF233C;
}

a:hover {
  text-decoration: none;
}
