
/*
for ids, we will add '#' in front of it, and for classes, we will add '.' in front of it in our css files
*/

/*
font weight 400 is normal, 700 is bold
*/

header, footer{
  background: #2B2D42;
  color: #8D99AE;
}

header h1, header h2, footer h1, footer h2{
  color: #EDF2F4;
}

h1{
  text-align: center; /* left, right, etc. */
  font-size: 40PX;
  font-weight: 700;
  font-style: oblique;
  text-transform: Capitalize; /* also UPPERCASE, lowercase, none*/
}

body{
  margin:0;
  font-family: 'DM Serif Text', serif;
  line-height:10px; /* it should be related with font-size, normally bigger than font-size, 150% / 1,5 also works */
  display: inline-block; /* none will hidden everything, block will decorate a block outside of content, 
  inline-block will make it inline and block around it*/
  padding:10px; /* inside space of an element: top,right,bottom,left */
  margin:5px; /* outside space of an element */
}

.work{
  background: #EDF2F4;
  color: orange;
}

.education{
  background: #8D99AE;   
  color:blue;
}

a {
  color: #EF233C;
}

a:hover {
  text-decoration: none; /* also we have overline, underline, line-through*/
}

.only-background{
  background: lightblue
}
.text-wrap{
  max-width:400px;
  color:green;
  text-align: center;
  margin:auto auto;
  padding:40px;
}
